{% extends 'admin/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Статистика</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-header">Пользователи</div>
            <div class="card-body text-success">
                <h5 class="card-title">Количество: <strong>{{ total_users }}</strong></h5>
                <p class="card-text">Зарегистрированных пользователей.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary mb-3">
            <div class="card-header">Посты</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Количество: <strong>{{ total_posts }}</strong></h5>
                <p class="card-text">Постов.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-danger mb-3">
            <div class="card-header">Рейтинг слов в постах</div>
            <div class="card-body text-danger">
                <h5 class="card-title">Количество: <strong>5</strong></h5>
                {% for word, count in top_words %}
                <p class="card-text">{{ word }} - {{ count }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}